/*
Change these options to customize the color scheme and a few layout options of your website.
Most layout options are stored in src/css/advanced_stylesheet.css. I do not recommend messing with those settings
unless you know what you're doing, or you're willing to spend a lot of time on trial and error.

For any colors, you can represent them in hexadecimal like this (#FF0000 = red)
or use this list of available color names: https://www.w3schools.com/cssref/css_colors.asp
 */

body {
    font-family: 'Comic Relief', sans-serif;  /* The font of all the text on all pages */
    color: #4BC400;  /* The color of the font of most of the text on your website */
    text-shadow: -1px 0 2px #612B09, 0 1px 2px #612B09, 1px 0 2px #612B09, 0 -1px 2px #612B09;
    background-color: #612B09;  /* The color of the background behind everything */
    background-image: url("../../../images/background_image.png");  /* The pattern on the background. Delete to change to a solid color
                                                       or replace with your own image to tile across your background. */
}

div#container {
    background-color: #F0FF00;
    max-width: 1222px;  /* The width of the main box that contains all content on the pages */
    background-image: url("../../../images/framing_device.png");
    border-radius: 25px;
    border: 17px solid #612B09;
    
}

div#links-bar {
    background-color: #F0FF00;  /* The background color of your links bar */
    border-radius: 25px;
    border: 5px solid #4BC400;
    text-align: center;
    display: inline;
    height: 75px;
    text-shadow: 5px 5px 5px #F0FF00;
}

link-bar-link {
    color: #4BC400;  /* The color of the links in your links bar */
    background-color: #F0FF00;
    font-weight: bold;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline;
    border-radius: 25px;
    border: 5px solid #4BC400;
    text-shadow: 5px 5px 5px #F0FF00;
    width: 51px;
}

link-bar-link:hover {
    color: #44F5F0;
    background-color: #BDFC92;
    font-weight: bold;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline;
    border-radius: 25px;
    border: 5px solid #4BC400;
    text-shadow: 2px 2px 5px #9AFAF7;
    width: 51px;
}

link-bar-link:active {
    color: #FF003A;
    background-color: #FF6800;
    font-weight: bold;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline;
    border-radius: 25px;
    border: 5px solid #4BC400;
    text-shadow: 2px 2px 5px #F7B400;
    width: 51px;
} 

a {
    color: #4BC400;  /* The color of the hyperlinks */
}

<p>&nbsp;</p>

div#blurb {
    background-color: #4BC400;  /* The color of the "blurb" box that contains post title, post date, tags, etc. */
    width: 75%;  /* The maximum width of the blurb box. */
    background-image: url("../../../images/framing_device.png");
    border-radius: 25px;
    border: 7px solid #612B09;
}

h1#page-title {
    color: #4BC400;  /* Color of the page title */
    font-size: 3em;  /* Font size of the post title */
}

div#post-date {
    font-weight: bold;  /* Delete this to unbold the post date */
}

div#storyline, div#characters, div#tags {
    font-style: italic;  /* Delete this to unitalicize the tags */
}

img {
    width: 100%;
    border-radius: 25px;
    border: 5px solid #612B09;
}
