/*
Change these options to customize the color scheme and a few layout options of your website.
Most layout options are stored in src/css/advanced_stylesheet.css. I do not recommend messing with those settings
unless you know what you're doing, or you're willing to spend a lot of time on trial and error.

For any colors, you can represent them in hexadecimal like this (#FF0000 = red)
or use this list of available color names: https://www.w3schools.com/cssref/css_colors.asp
 */

body {
    font-family: 'Comic Relief', sans-serif;  /* The font of all the text on all pages */
    color: #4BC400;  /* The color of the font of most of the text on your website */
    background-color: #612B09;  /* The color of the background behind everything */
    background-image: url("../../../images/background_image.png");  /* The pattern on the background. Delete to change to a solid color
                                                       or replace with your own image to tile across your background. */
}

div#container {
    background-color: #F0FF00;
    max-width: 1333px;  /* The width of the main box that contains all content on the pages */
    background-image: url("../../../images/framing_device.png");
    border-radius: 25px;
    border: 17px solid #612B09;
    
}

div#links-bar {
    background-color: #F0FF00;  /* The background color of your links bar */
    border-radius: 25px;
    border: 5px solid #4BC400;
    text-align: center;
    display: inline;
    height: 75px;
    width: 420px;
}

a.link-bar-link {
    color: #4BC400;  /* The color of the links in your links bar */
    background-color:#F0FF00;
    font-weight: bold;  /* Delete this to unbold the links in your links bar*/
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;  /* Delete this line to put underlining on the links in your links bar */
    display: inline-block;
    border-radius: 25px;
    border: 5px solid #4BC400;
    width: 51;
}

a.link-bar-link:hover {
    color: #44F5F0;
    background-color: #BDFC92;
    font-weight: bold;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    border: 5px solid #4BC400;
    width: 51px;
}

a.link-bar-link:active {
  color: #FF003A;
  background-color: #FF6800;
  font-weight: bold;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  border: 5px solid #4BC400;
  width: 51px;
} 

a {
    color: #4BC400;  /* The color of the hyperlinks */
}

div#blurb {
    background-color: lightgray;  /* The color of the "blurb" box that contains post title, post date, tags, etc. */
    width: 75%;  /* The maximum width of the blurb box. */
    border-left: 3px dotted lightslategray;  /* If you change the background color of the blurb, play with these two lines or else it will look bad */
    border-right: 3px dotted lightslategray;
}

h1#page-title {
    color: black;  /* Color of the page title */
    font-size: 3em;  /* Font size of the post title */
}

div#post-date {
    font-weight: bold;  /* Delete this to unbold the post date */
}

div#storyline, div#characters, div#tags {
    font-style: italic;  /* Delete this to unitalicize the tags */
}

img {
    width: 100%;
}
